.component {
    transition: all 0.3s;
    background: none;
    outline: none;
    width: 100px;
    display: block;
    padding: 4px 11px;
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    line-height: 1.5;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    position: relative;
    cursor: pointer;

    &:hover {
        border-color: #803b39;
        color: #803b39;
    }
}