/* common */

.component {
    position: absolute;
    right: 0px;
    top: 0px;
    text-align: left;
    z-index: 70;
    display: none;
    width: 210px;

    &>.button {
        margin: 0 0 0 120px;
        float: left;
        width: 85px;
        padding: 5px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    &>.dateTypes {
        width: 210px;
        height: 180px;
        font-size: 14px;
        background-clip: padding-box;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        outline: none;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
        overflow: hidden;

        &::after {
            content: "";
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;
        }

        &>.typeSelect {
            height: 100%;
            width: 70px;
            float: left;
            overflow-y: auto;
            background-color: #fff;

            &>ul {
                margin: 0;
                padding: 0;
                list-style: none;
                height: 100%;
                width: 100%;

                &>li {
                    font-size: 14px;
                    padding: 5px 0 5px 20px;
                    text-align: left;
                    cursor: pointer;
                    color: rgba(0, 0, 0, 0.65)
                }

                &>li:hover,
                &>.current {
                    color: rgba(0, 0, 0, 0.65);
                    font-weight: 600;
                    background-color: #fafafa;
                }

            }
        }
    }
}