$Width :330px;
$Heigth:670px;

.component {
    transition: all 0.3s;
    box-shadow: 0 4px 8px 0 rgba(7, 17, 27, 0.07);
    overflow: hidden;
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-align: center;
    width: $Width;
    height: $Heigth;
    background: #efefef;
    padding: 40px 10px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 99;
    -webkit-app-region: drag;

    @media screen and (max-width: 760px) {
        width: 100%;
        height: 100%;
        padding: 0;
        bottom: 0;
        right: 0;
        border: none;
        border-radius: 0;
    }
}