.component {
    -webkit-app-region: drag;
    height: 20px;
    width: 20px;
    position: absolute;
    top: 20px;
    left: 20px;
    background: #fff;
    border-radius: 100%;
    transition: all 0.5s;
    text-align: center;
    border: 2px solid #585858;
    z-index: 99;

    & .dragIcon{
        font-size:16px;
        color:#585858;
        position:absolute;
        top:0;
        left:0;
    }
}