    

    .ayan-setting {
        position: absolute;
        height: 100%;
        width: 100%;
        transition: all 1s;
        background: #fff;
        box-shadow: 0 0 8px 0 rgba(7, 17, 27, 0.07) inset;
        display: block;
        top: 0;
        left: 0;
        z-index: 24;

        p {
            font-size: 14px;
        }

        .ayan-setting-cancel {
            z-index: 25;
            left: 10px;
            top: 10px;
        }

        .ayan-setting-cancel:hover {
            width: 20px;
            height: 20px;
            left: 15px;
            top: 15px;
        }

        .ayan-setting-input {
            padding: 70px 40px;
            text-align: left;
            user-select: none;
        }

        input,
        .ayan-input-date {
            transition: all 0.3s;
            background: none;
            outline: none;
            width: 100px;
            display: block;
            padding: 4px 11px;
            color: rgba(0, 0, 0, 0.65);
            font-size: 14px;
            line-height: 1.5;
            background-color: #fff;
            background-image: none;
            border: 1px solid #d9d9d9;
            border-radius: 4px;
            position: relative;
            cursor: text;
        }

        input:hover,
        .ayan-input-date:hover {
            border-color: #803b39;
            color: #803b39;
        }

        .ayan-input-date {
            cursor: pointer;
        }

    }


    /* common */

    .ayan-date-mark {
        position: absolute;
        right: 0px;
        top: 0px;
        text-align: left;
        z-index: 70;
        display: none;
        width: 210px;

        &>.ayan-date-mark-info {
            transition: all 0.3s;
            background: none;
            outline: none;
            width: 100px;
            display: block;
            padding: 4px 11px;
            color: rgba(0, 0, 0, 0.65);
            font-size: 14px;
            line-height: 1.5;
            background-color: #fff;
            background-image: none;
            border: 1px solid #d9d9d9;
            border-radius: 4px;
            position: relative;
            cursor: text;
            user-select: none;
            float: left;
            border-right: 0;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }

        &>.ayan-button {
            margin: 0;
            float: left;
            width: 85px;
            padding: 5px;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

        &>.ayan-date-mark-list {
            width: 210px;
            height: 180px;
            font-size: 14px;
            background-clip: padding-box;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
            outline: none;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
            overflow: hidden;

            &>.ayan-date-mark-select {
                height: 100%;
                width: 70px;
                float: left;
                overflow-y: auto;
                background-color: #fff;

                &>ul {
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    height: 100%;
                    width: 100%;

                    &>li {
                        font-size: 14px;
                        padding: 5px 0 5px 20px;
                        text-align: left;
                        cursor: pointer;
                        color: rgba(0, 0, 0, 0.65)
                    }

                    &>li:hover,
                    &>.ayan-current {
                        color: rgba(0, 0, 0, 0.65);
                        font-weight: 600;
                        background-color: #fafafa;
                    }

                }
            }
        }

        &>.ayan-date-mark-list::after {
            content: "";
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;
        }
    }

    