#ayan-timer {
    transition: all 0.3s;
    box-shadow: 0 4px 8px 0 rgba(7, 17, 27, 0.07);
    overflow: hidden;
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-align: center;
    width: 300px;
    background: #efefef;
    padding: 40px 10px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 99;
    -webkit-app-region: drag;

    @media screen and (max-width: 760px) {
        width: 100%;
        height: 100%;
        padding: 0;
        bottom: 0;
        right: 0;
        border: none;
        border-radius: 0;

        .ayan-control {
            margin-top: 70px;
        }
    }

    .ayan-control {
        position: relative;
        z-index: 20;

        .ayan-control-time {
            color: rgb(130, 57, 53);
            font-weight: bold;
            font-size: 60px;
            user-select: none;
        }

        .ayan-control-option {
            color: rgb(130, 57, 53);
            font-weight: bold;
            user-select: none;
        }

        .ayan-control-button {}
    }

    .ayan-select {
        .ayan-select-menu {
            right: 10px;
            top: 10px;
            z-index: 22;
        }

        .ayan-select-menu:hover {
            transform: rotate(180deg);

            &+.ayan-select-list {
                right: 0;
            }
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        .ayan-select-list:hover {
            right: 0;
        }

        .ayan-select-list {
            transition: all 1s;
            height: 100%;
            width: 150px;
            background: #fff;
            box-shadow: 0 0 8px 0 rgba(7, 17, 27, 0.07) inset;
            display: block;
            position: absolute;
            right: -152px;
            top: 0;
            z-index: 23;
        }

        .ayan-select-list>li {
            width: 80%;
            padding: 10px 10%;
            color: rgba(0, 0, 0, 0.65);
            text-align: left;
            cursor: pointer;
            font-size: 14px;
            user-select: none;
        }

        h4 {
            color: rgba(0, 0, 0, 0.65);
            user-select: none;
        }

        .ayan-select-list>li:hover {
            color: rgba(0, 0, 0, 0.65);
            font-weight: 600;
            background-color: #fafafa;
        }
    }

    .ayan-setting {
        position: absolute;
        height: 100%;
        width: 100%;
        transition: all 1s;
        background: #fff;
        box-shadow: 0 0 8px 0 rgba(7, 17, 27, 0.07) inset;
        display: block;
        top: 0;
        left: 0;
        z-index: 24;

        p {
            font-size: 14px;
        }

        .ayan-setting-cancel {
            z-index: 25;
            left: 10px;
            top: 10px;
        }

        .ayan-setting-cancel:hover {
            width: 20px;
            height: 20px;
            left: 15px;
            top: 15px;
        }

        .ayan-setting-input {
            padding: 70px 40px;
            text-align: left;
            user-select: none;
        }

        input,
        .ayan-input-date>span {
            transition: all 0.3s;
            background: none;
            outline: none;
            width: 100px;
            display: block;
            padding: 4px 11px;
            color: rgba(0, 0, 0, 0.65);
            font-size: 14px;
            line-height: 1.5;
            background-color: #fff;
            background-image: none;
            border: 1px solid #d9d9d9;
            border-radius: 4px;
            position: relative;
            cursor: text;
        }

        input:hover,
        .ayan-input-date>span:hover {
            border-color: #803b39;
            color: #803b39;
        }

        .ayan-input-date>span {
            cursor: pointer;
        }

    }


    /* common */

    .ayan-date-mark {
        position: absolute;
        width: 210px;
        height: 120px;
        left: 85px;
        top: 205px;
        font-size: 14px;
        text-align: left;
        background-color: #fff;
        background-clip: padding-box;
        border-radius: 4px;
        outline: none;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
        

        .ayan-date-mark-select {
            height: 100%;
            width: 70px;
            float: left;
            overflow-y: auto;

            ul {
                margin: 0;
                padding: 0;
                list-style: none;
                height: 100%;
                width: 100%;

                li {
                    font-size: 14px;
                    padding: 5px 0 5px 20px;
                    text-align: left;
                    cursor: pointer;
                    color: rgba(0,0,0,0.65)
                }

                li:hover {
                    color: rgba(0, 0, 0, 0.65);
                    font-weight: 600;
                    background-color: #fafafa;
                }

            }
        }
    }

    .ayan-icon {
        display: inline-block;
        height: 30px;
        width: 30px;
        padding: 5px;
        position: absolute;
        background: #fff;
        cursor: pointer;
        border-radius: 100%;
        border: 2px solid #b1afaf;
        transition: all 0.5s;

        &>svg {}
    }

    .ayan-input {
        -webkit-app-region: no-drag;
        color: rgb(130, 57, 53);
        font-weight: bold;
        background: none;
        outline: none;
        border: 0px;
        display: block;
        margin: 0 auto;
        width: 60px;
        padding: 5px;
        font-size: 23px;
        text-decoration: underline;
    }

    .ayan-input.ayan-primary-input {}

    .ayan-button {
        -webkit-app-region: no-drag;
        outline: none;
        font-family: PoppinsLight, Arial, Helvetica, sans-serif;
        padding: 8px 20px;
        margin: 0 auto;
        margin-top: 30px;
        width: 160px;
        font-size: 14px;
        display: block;
        text-align: center;
        border-radius: 5px;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
        box-shadow: 0 2px 0 rgba(0, 0, 0, 0.025);
        user-select: none;
        cursor: pointer;
        transition: all .3s;

        border: 1px solid transparent;
        color: #803b39;
    }

    .ayan-button.ayan-primary-button {
        background: #dc995a;
        border-color: #dc995a;
    }

    .ayan-button.ayan-primary-button:hover {
        background: #e8a76a;
    }

    .ayan-button.ayan-default-button {
        background: #fff;
        border-color: #d9d9d9;
    }

    .ayan-button.ayan-default-button:hover {
        border-color: #803b39;
    }

    @keyframes BeforeSquares {
        from {
            top: 10%;
        }

        to {
            top: 15%;
        }
    }

    @keyframes AfterSquares {
        from {
            top: 30px;
        }

        to {
            top: 100px;
        }
    }

    .square-block {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 15;
        top: 0;
    }

    .square-block>.before-square {
        background: linear-gradient(to right, #efefef 0%, #ffffff 100%);
        display: block;
        position: absolute;
        width: 200px;
        height: 200px;
        right: -90px;
        top: 15%;
        transform: rotate(25deg);
        animation: BeforeSquares 3s ease-in-out alternate infinite;
        z-index: 21;
    }

    .square-block>.after-square {
        background: linear-gradient(to right, #efefef 0%, #ffffff 100%);
        display: block;
        position: absolute;
        width: 200px;
        height: 200px;
        left: -100px;
        top: 7%;
        transform: rotate(-78deg);
        animation: AfterSquares 3s ease-in-out alternate infinite;
        z-index: 20;
    }

}