.component {
    position: absolute;
    height:100%;
    width:100%;
    top:0;
    left:0;

    &>.list {
        right: 0;
        list-style: none;
        padding: 0;
        margin: 0;
        transition: all 1s;
        height: 100%;
        width: 150px;
        background: #fff;
        box-shadow: 0 0 8px 0 rgba(7, 17, 27, 0.07) inset;
        display: block;
        position: absolute;
        right: -152px;
        top: 0;
        z-index: 25;

        &>h4 {
            color: rgba(0, 0, 0, 0.65);
            user-select: none;
        }

        &>li {
            width: 80%;
            padding: 10px 10%;
            color: rgba(0, 0, 0, 0.65);
            text-align: left;
            cursor: pointer;
            font-size: 14px;
            user-select: none;
        }

        &>li:hover {
            color: rgba(0, 0, 0, 0.65);
            font-weight: 600;
            background-color: #fafafa;
        }
    }

    &>.menuButton{
        position: absolute;
        top:20px;
        right:20px;
        z-index: 24;
    }

    .menuButton:hover+.list,.list:hover{
        &{
            right:0;
        }
    }
}