.component {
    position: absolute;
    height: 100%;
    width: 100%;
    transition: all 1s;
    background: #fff;
    box-shadow: 0 0 8px 0 rgba(7, 17, 27, 0.07) inset;
    display: block;
    top: 0;
    left: -100%;
    z-index: 27;

    p {
        font-size: 14px;
    }

    &>.cancelButton {
        left:20px;
        top:20px;
        transform: rotate(-90deg);
    }

}