.component {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 150px;
    z-index: 25;
    font-family: Arial, Helvetica, sans-serif;

    & h4 {
        text-indent: 15px;
        color: rgba(0, 0, 0, 0.65);
        margin: 5px 0;
        user-select: none;
        font-size: 16px;
        font-weight: bold;
    }

    & ul {
        list-style: none;
        padding: 0;
        margin: 0;
        height: 100%;
        width: 150px;

        &>li {
            text-indent: 20px;
            width: 100%;
            padding: 10px 10%;
            color: rgba(0, 0, 0, 0.65);
            text-align: left;
            cursor: pointer;
            font-size: 14px;
            user-select: none;
        }

        &>li:hover {
            color: rgba(0, 0, 0, 0.65);
            font-weight: 600;
            background-color: #fafafa;
        }

        &>li.current {
            color: rgba(0, 0, 0, 0.65);
            font-weight: 600;
            background-color: #f4f4f4;
        }
        
    }


}